@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --header-height: 7.5rem;
  --footer-height: 6.55rem;
  --text-color: #828282;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}


body {
  width: 100%;
  max-width: 192rem;
  min-width: 32.5rem;
  margin: 0 auto;
  padding: 0 6vw;
  background: #FAFAFA;
  font-size: 1.4rem;
  color: var(--text-color);
}

main {
  min-height: calc(100vh - (var(--header-height) + var(--footer-height)))
}



