.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: var(--footer-height);
}

.footer .left-section {
  display: flex;
  list-style-type: none;
  gap: 3.2rem;
}

.left-section a {
  color: var(--text-color);
  text-decoration: none;
}

.left-section a:hover {
  color: var(--text-color-dark);
}

.footer p {
  color: var(--text-color);
}

