.mission-main {
  min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mission-title {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: black;
}

.mission-text {
  font-size: 1.4rem;
  text-align: center;
  max-width: 60rem;
}